/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 0; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --text-color-footer: hsl(var(--hue-color), 8%, 85%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --code-block-color: hsl(var(--hue-color), 10%, 92%);

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --semi-font-size: 0.888rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --font-light: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --semi-font-size: 0.9rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --text-color-footer: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    --code-block-color: hsl(var(--hue-color), 25%, 19%);
}

/*========== Button Dark/Light ==========*/
.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

code {
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-feature-settings: normal;
    font-size: var(--semi-font-size);
    font-weight: var(--font-light);
    background: var(--code-block-color);
    padding: 1px 6px;
    margin: 0 2px;
    border-radius: 5px;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding-top: 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}

.section__title {
    text-align: center;
}
/*==================== LAYOUT ====================*/
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }
}

.nav__list {
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

/* show menu */
.show-menu {
    bottom: 0;
}

/* Active link */
.active-link {
    color: var(--first-color);
}
/* Change background header */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}
/*==================== HOME ====================*/
.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: 1fr;
    padding-top: 3.5rem;
    align-items: center;
    justify-items: center;
}

.home__img {
    width: 240px;
    height: 240px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
    justify-self: center;
}

.home__data {
    grid-column: 1/2;
}

.home__title {
    font-size: var(--big-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
}

.home__connect {
    margin-top: 1.5rem;
    justify-self: center;
    font-size: var(--h2-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__social {
    display: flex;
    justify-self: center;
    gap: 1.5rem;
}

.home__social-icon {
    font-size: var(--big-font-size);
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__scroll {
    display: none;
}

.home__scroll-button {
    color: var(--first-color);
    transition: 0.3s;
}

.home__scroll-button:hover {
    transform: translateY(0.25rem);
}

.home__scroll-mouse {
    font-size: 1.5rem;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 1.5rem;
}

/*==================== BUTTONS ====================*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}
/*==================== ABOUT ====================*/
.about__img {
    width: 200px;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}

.about__subtitle {
    text-align: center;
    font-size: var(--normal-font-size);
}

.about__location {
    font-size: var(--h2-font-size);
    color: var(--first-color);
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2);
}

.about__break {
    display: none;
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__info-name,
.about__info-title {
    display: block;
    text-align: center;
}

.about__skills {
    color: var(--text-color);
    justify-content: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: var(--mb-2-5);
}

.about__skills-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin-left: var(--mb-0-25);
    margin-bottom: var(--mb-0-75);
}

.about__buttons {
    display: flex;
    justify-content: center;
}

/*==================== EXPERIENCE ====================*/
.experience__section {
    justify-self: center;
    max-width: 700px;
}

.experience__data {
    padding-bottom: 2rem;
}

.experience__header {
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    max-width: 500px;
    margin: auto;
    margin-bottom: var(--mb-1);
}

.experience__title {
    font-size: var(--h3-font-size);
}

.experience__subtitle,
.experience__calender {
    font-size: var(--normal-font-size);
}

.experience__arrow {
    font-size: 2rem;
    color: var(--first-color);
    margin-left: auto;
    transition: 0.3s;
}

.experience__arrow:hover {
    color: var(--first-color-alt);
}

.experience__close .experience__description {
    height: 0;
    overflow: hidden;
}

.experience__open .experience__description {
    height: max-content;
    margin-bottom: var(--mb-1);
}

.experience__open .experience__arrow {
    transform: rotate(-180deg);
}

.experience__description {
    color: var(--title-color);
    padding: var(--mb-0-25) var(--mb-2);
    font-size: var(--normal-font-size);
}

.experience__list {
    color: var(--first-color);
}

.experience__list-bullet {
    color: var(--text-color);
}

/*==================== EDUCATION ====================*/
.education__section {
    justify-self: center;
    max-width: 700px;
}

.education__data {
    padding-bottom: 3rem;
}

.education__title {
    font-size: var(--h3-font-size);
}

.education__subtitle,
.education__calender {
    font-size: var(--normal-font-size);
}

/*==================== PUBLICATIONS ====================*/
.publications__section-title {
    margin-bottom: var(--mb-1);
}

.publications__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-1);
}

.publications__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.publications__button:hover {
    color: var(--first-color);
}

.publications__button.publications__active {
    color: var(--first-color);
}

.publications__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.publications [data-content] {
    display: none;
}

.publications__active[data-content] {
    display: block;
}

.publications__container {
    padding-left: 2.5rem;
    padding-right: 2rem;
}

.publications__section {
    justify-self: center;
}

.publications__data {
    padding-bottom: 2rem;
}

.publications__list::marker {
    content: "[" counter(list-item, decimal) "] ";
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}
.publications__list {
    display: list-item;
}

.publications__highlight {
    color: var(--title-color);
}

.publications__link-icon {
    font-size: var(--h3-font-size);
    color: var(--first-color);
}

.publications__link-icon:hover {
    color: var(--first-color-alt);
}

/*==================== LIFE ====================*/
.life {
    margin-bottom: 8rem;
}

.life__content {
    padding: 3rem 1.5rem;
}

.life__img {
    width: 426px;
    border-radius: 1rem;
    justify-self: center;
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
}

.swiper-life-icon {
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-life-icon:hover {
    color: var(--first-color-alt);
}

.swiper-button-next {
    right: -0.5rem;
}

.swiper-button-prev {
    left: -0.5rem;
}

/*==================== FOOTER ====================*/
.footer__bg {
    background-color: var(--first-color-second);
}

.footer__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-footer);
    margin-top: var(--mb-3);
}

/*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
    /* opacity: 1; */
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #ffffff;
}

/* Show scroll */
.show-scroll {
    bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .home__content {
        grid-template-columns: 1fr;
    }

    .home__img {
        width: 180px;
        height: 180px;
        margin-left: 0.25rem;
    }

    .home__social {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 567px) {
    .publications__button {
        font-size: var(--normal-font-size);
    }

    .publications__title {
        font-size: var(--normal-font-size);
    }

    .publications__subtitle {
        display: none;
    }

    .life {
        margin-bottom: 13rem;
    }
}

/* For medium devices */
@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: 4fr 1fr;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-self: center;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding-top: 6rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header,
    .main {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .change-theme {
        margin: 0;
    }

    .home__content {
        padding-top: 6rem;
        column-gap: 2rem;
    }

    .home__img {
        width: 220px;
        height: 220px;
    }

    .home__social {
        gap: 4rem;
    }

    .home__social-icon {
        font-size: var(--h1-font-size);
    }

    .home__scroll {
        display: block;
    }

    .home__scroll-button {
        margin-left: 3rem;
    }

    .about__break {
        display: block;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 968px;
    }

    .header,
    .main {
        padding: 0;
    }

    .section {
        padding-top: 7rem;
    }

    .home__img {
        width: 250px;
        height: 250px;
        margin-right: 3rem;
    }

    .home__social-icon {
        font-size: var(--big-font-size);
    }

    .home__scroll {
        margin-top: 1rem;
    }

    .home__scroll {
        margin-left: 4rem;
    }

    .life__container {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1440px) {
    .life__container {
        max-width: 1400px;
    }
}

@media screen and (min-width: 1600px) {
    .section {
        padding-top: 11rem;
    }

    .nav {
        max-width: 1168px;
    }

    .home__img {
        width: 280px;
        height: 280px;
    }

    .home__connect {
        margin-top: 7rem;
    }

    .home__scroll {
        margin-top: 2rem;
    }

    .life {
        margin-bottom: 16rem;
    }

    .life__container {
        max-width: 1550px;
    }
}
